@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Kadwa:wght@400;700&family=Rubik:wght@300;500;700&display=swap');

#root{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none!important;
  display: contents;
  cursor: pointer;
}

li {
  list-style: none;
}

button{
  cursor: pointer;
}
