@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Kadwa:wght@400;700&family=Rubik:wght@300;500;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(105, 194, 232, 0.46) 0%, #69C2E8 100%);
  min-height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

li {
  list-style: none;
}

button{
  cursor: pointer;
}
